<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
        <script src="stick.js"></script>

    </head>
    <body ng-app='stick' ng-controller='stickCtrl'>
        <ui-view></ui-view>
        <script type="text/ng-template" id="/home.html">
              <div class="page-header"> //template for the home
                <h1>Home</h1>
              </div>
                <div ng-repeat="player in players">
                    <form name='userForm' ng-submit='updatePlayer(userForm,player)'> 
                        {{player.name}}
                      <input placeholder='Name' ng-model='userForm.name'/> 
                      <input placeholder='color' ng-model='userForm.color'/>
                      
                      <button type='submit'>Add New</button>
                      
                      
                    </form>
                    
                </div>
                <div>
                  
                  <a href="#/fight">Fight</a>
                </div>
            </script>
            <script type="text/ng-template" id="/fight.html">
              <div class="page-header"> //template for the fight
                <h3>
                    Fight!
                </h3>
                <a href="#/home">Back to Home</a>
                <a href="#/win">Win!</a>
              </div>
          
            </script>
            <script type="text/ng-template" id="/win.html">
              <div class="page-header"> //template for winning
                <h3>
                    Fight!
                </h3>
                <a href="#/home">Back to Home</a>
              </div>
          
            </script>
    </body>
</html>