div h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 75px;
    letter-spacing: 5px;
    color: red;
    text-shadow: 5px 5px #000000;
}

h3 {
    font-size: 60px;
    color: red;
}

body {
    margin-top: -70px;
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(255, 0, 0, 0.0);
    color: white;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

a:hover, a:active {
    background-color: red;
}

#redColor {
    color: red;
}

#fightPage {
    background-image: url(xenia-bogarova-422041-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2000px;
}

#fightButton {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
}

#comments {
    padding: 100px;
}

.dark{
    color:black;
}